@model UploadWebapp.Models.EditQualityCheckModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .qceditor label {
        display: inline;
    }

    .qceditor .text-box {
        display: block;
        width: 100%;
    }

    .qceditor textarea {
        width: 100%;
    }

    .qceditor .display-field {
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>


<div class="col-md-12 ">
    <h1>Quality Check</h1>
</div>
<form action="" method="post" enctype="multipart/form-data" id="qcform">
    <div class="col-md-8 qceditor">
        @if(Model.image.jpgPath != null) { 
        <div class="display-field col-md-12">
            <div class="display-field col-md-6">
                <a href="@(Url.Action("Imagify","Home", new {url = Model.image.jpgPath }))" target="_blank"><img src="@(Url.Action("Imagify","Home", new {url = Model.image.jpgPath }))" /></a>
            </div>
            <div class="display-field col-md-6">
                <a href="@(Url.Action("Imagify","Home", new {url = Model.image.binPath }))" target="_blank"><img src="@(Url.Action("Imagify","Home", new {url = Model.image.binPath }))" /></a>
            </div>
        </div>
        }
        <h3>
            @Model.image.filename.Substring(0, 6) @Model.image.filename.Substring(14, 4) @Model.image.filename.Substring(19, 3)
            @Model.image.filename.Substring(29, 2)/@Model.image.filename.Substring(27, 2)/@Model.image.filename.Substring(23, 4)
        </h3>
        <div class="display-field col-md-12">
            @Html.EditorFor(model => model.qualityCheck.setupObjects)
            <label>Setup Objects As Expected</label>
            @if (Model.previousQualityCheck != null)
            {
                <br /><text>Previous:</text>
                @(Model.previousQualityCheck.setupObjectsComments)}
            @Html.EditorFor(model => model.qualityCheck.setupObjectsComments)
        </div>

        <div class="display-field col-md-12">
            @Html.EditorFor(model => model.qualityCheck.noForeignObjects)
            <label>No Foreign Objects</label>
            @if (Model.previousQualityCheck != null)
            {
                <br /><text>Previous:</text>
                @(Model.previousQualityCheck.foreignObjectsComments)}
            @Html.EditorFor(model => model.qualityCheck.foreignObjectsComments)
        </div>
        <div class="display-field col-md-12">
            @Html.EditorFor(model => model.qualityCheck.noRaindropsDirt)
            <label>No Raindrops / Dirt / Light Scattering</label>
            @Html.EditorFor(model => model.qualityCheck.raindropsDirtComments)
        </div>
        <div class="display-field col-md-12">
            @Html.EditorFor(model => model.qualityCheck.noLensRing)
            <label>No Lens Ring</label>
        </div>
        <div class="display-field col-md-12">
            @Html.EditorFor(model => model.qualityCheck.lighting)
            <label>Good Lighting Conditions</label>
            @Html.EditorFor(model => model.qualityCheck.lightingComments)
        </div>
        <div class="display-field col-md-12">
            @Html.EditorFor(model => model.qualityCheck.noOverexposure)
            <label>No Overexposure</label>
            @Html.EditorFor(model => model.qualityCheck.overexposureComments)
        </div>
        <div class="display-field col-md-12">
            <label>Other Comments</label><br />
            @if (Model.previousQualityCheck != null)
            {
                <text>Previous:</text>
                @(Model.previousQualityCheck.otherComments)}
            @Html.TextAreaFor(model => model.qualityCheck.otherComments)
        </div>

        <div class="display-field col-md-12">
            <label>Status</label>
            @*@{
            switch ((int)Model.qualityCheck.status)
            {
                case 0:*@
            <text><h3 id="unverified" style="color:grey;">Unverified</h3></text>
            @*break;
            case 1:*@
            <text><h3 id="pass" class="text-highlight">Pass</h3></text>
            @*break;
            case 2:*@
            <text><h3 id="fail" class="text-additional">Fail</h3></text>
            @*break;
                }
            }*@<p>
    @Html.ActionLink("Back To List", "UploadSetQualityChecks", new { setID = Model.uploadSetID }) &nbsp;|&nbsp;
    @Html.ActionLink("Previous", "EditQualityCheck", new { checkID = Model.qualityCheck.ID - 1, setID = Model.uploadSetID })

    <input type="submit" value="Save & Next" class="button rounded fill-highlight" style="float:right" />
</p>
        </div>
        @Html.HiddenFor(model => model.qualityCheck.ID)
        @Html.HiddenFor(model => model.qualityCheck.imageID)
        @Html.HiddenFor(model => model.uploadSetID)
</form>
    </div>

<div class="col-md-4 ">
    <h3 class="text-highlight">Image Data</h3>
    <div class="row clearfix">
        <div class="col-md-12">
            <label class="display-label">
                Filename
            </label>
        </div>
    </div>
    <div class="row clearfix">
        <div class="display-field col-md-12">
            @Html.DisplayFor(model => model.image.filename)
            @if (Model.previousQualityCheck != null)
            {
                <br /><text>Previous:</text><br />
                @Html.DisplayFor(model => model.previousQualityCheck.image.filename)
            }
        </div>
    </div>
    <br />
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                LAI
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.image.LAI)
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                LAIe
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.image.LAIe)
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                Threshold
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.image.threshold)
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                Clumping
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.image.clumping)
        </div>

    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                Overexposure
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.image.overexposure)
        </div>

    </div>

    <h3 class="text-highlight">Camera Setup</h3>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                @Html.DisplayNameFor(model => model.cameraSetup.name)
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.cameraSetup.name)
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                @Html.DisplayNameFor(model => model.cameraSetup.cameraType)
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.cameraSetup.cameraType)
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                @Html.DisplayNameFor(model => model.cameraSetup.cameraSerial)
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.cameraSetup.cameraSerial)
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                @Html.DisplayNameFor(model => model.cameraSetup.lensType)
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.cameraSetup.lensType)
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                @Html.DisplayNameFor(model => model.cameraSetup.lensSerial)
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.cameraSetup.lensSerial)
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                @Html.DisplayNameFor(model => model.cameraSetup.lensX)
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.cameraSetup.lensX)
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                @Html.DisplayNameFor(model => model.cameraSetup.lensY)
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.cameraSetup.lensY)
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                @Html.DisplayNameFor(model => model.cameraSetup.lensA)
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.cameraSetup.lensA)
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                @Html.DisplayNameFor(model => model.cameraSetup.lensB)
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.cameraSetup.lensB)
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                @Html.DisplayNameFor(model => model.cameraSetup.maxRadius)
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.cameraSetup.maxRadius)
        </div>
    </div>
    <br /><br />
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                Date Modified
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.qualityCheck.dateModified)
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="display-label">
                Modified By
            </label>
        </div>
        <div class="display-field col-md-6">
            @Html.DisplayFor(model => model.qualityCheck.userName)
        </div>
    </div>
</div>

<script>
    $(function () {
        @{
            switch ((int)Model.qualityCheck.status)
            {
                case 0:
                        <text> $("#pass").hide(); $("#fail").hide();</text>
                    break;
                case 1:
                        <text>$("#unverified").hide(); $("#fail").hide();</text>
                        break;
                    case 2:
                        <text>$("#unverified").hide(); $("#pass").hide();</text>
                        break;
                }
        }
    });

    $("input[type='checkbox']").change(function () {
        var count = $("[type='checkbox']:checked").length;
        var otherComments = $("#qualityCheck_otherComments").val();
        $("#unverified").hide();
        if (count < 6 || (otherComments != "" && otherComments != null)) {
            $("#pass").hide();
            $("#fail").show();
        }
        else {
            $("#pass").show();
            $("#fail").hide();
        }
    });

    $("#qualityCheck_otherComments").change(function () {
        var count = $("[type='checkbox']:checked").length;
        var otherComments = $("#qualityCheck_otherComments").val();
        $("#unverified").hide();
        if (count < 6 || (otherComments != "" && otherComments != null)) {
            $("#pass").hide();
            $("#fail").show();
        }
        else {
            $("#pass").show();
            $("#fail").hide();
        }
    });
</script>


