@model IEnumerable<UploadWebapp.Models.UploadSet>

@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Overview</h1>

<table class="ovv" style="border-collapse: collapse; width: 1170px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.siteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plotNames)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.person)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uploadTime)
        </th>
        <th>Detail</th>
        <th style="width:200px">Download Results</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if(item.siteID != 0){
            <h6>@Html.DisplayFor(modelItem => item.siteCode)</h6>
            }
            else{
                <h6>@Html.DisplayFor(modelItem => item.siteName)</h6>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plotNames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.person)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uploadTime)
        </td>
        <td style="text-align:center">
            @Html.ActionLink("Detail", "SetDetails", new { setID = item.ID })
        </td>
        <td style="text-align:center">
            @if (item.hasDataLogs)
            {
                @Html.ActionLink("Download results", "SetDownload", new { setID = item.ID })
            }
        </td>
    </tr>
}
</table>

<script>
    $(function () {
        $(".overview").addClass("-active");
    });
</script>
