@model UploadWebapp.Models.HomeModel
@{
    ViewBag.Title = "Upload Hemispherical Pictures";
}
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script>
    //var Dropzone = require("enyo-dropzone");
    Dropzone.autoDiscover = false;
</script>
<style>
    html, body {
        height: 100%;
    }

    #actions {
        margin: 2em 0;
    }


    /* Mimic table appearance */
    div.table {
        display: table;
    }

        div.table .file-row {
            display: table-row;
        }

            div.table .file-row > div {
                display: table-cell;
                vertical-align: top;
                border-top: 1px solid #ddd;
                padding: 8px;
            }

            div.table .file-row:nth-child(odd) {
                background: #f9f9f9;
            }

    /* The total progress gets shown by event listeners */
    #total-progress {
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    /* Hide the progress bar when finished */
    #previews .file-row.dz-success .progress {
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    /* Hide the delete button initially */
    #previews .file-row .delete {
        display: none;
    }

    /* Hide the start and cancel buttons and show the delete button */

    #previews .file-row.dz-success .start,
    #previews .file-row.dz-success .cancel {
        display: none;
    }

    #previews .file-row.dz-success .delete {
        display: block;
    }

    .emptyfields, .wrongfilenames {
        color: red;
        font-weight: bold;
    }
</style>

<h1>Upload Hemispherical Pictures</h1>



<div id="emptyfields" class="emptyfields">
    <h3>Please complete all fields.</h3>
</div>

<div class="container" id="container">
    @*<fieldset>
        <legend>Camera Setup</legend>
        @Html.Label("Site: ")<br />
        @Html.DropDownListFor(m => m.selectedSite, new SelectList(Model.user.sites, "ID", "title"))<br />
        @Html.Label("Person: ")<br />
        @Html.TextBoxFor(m => m.uploadSet.person)<br />
        @* @Html.Label("Slope (0° - 90°): ")<br />
        @Html.TextBoxFor(m => m.uploadSet.slope, new { @class = "decimalOnly" })<br />
        @Html.Label("Slope Aspect (0° - 360°): ")<br />
        @Html.TextBoxFor(m => m.uploadSet.slopeAspect, new { @class = "decimalOnly" })<br />*@
   @*     @Html.Label("Camera Setup: ")<br />
        @Html.DropDownListFor(m => m.uploadSet.cameraSetup.ID, new SelectList(Model.user.cameraSetups, "ID", "title"), "-- New Camerasetup --")<br />
        @Html.Label("Camera type: ")<br />
        @Html.TextBoxFor(m => m.uploadSet.cameraSetup.cameraType, new { @class = "camsetup" })<br />
        @Html.Label("Camera Serial number: ")<br />
        @Html.TextBoxFor(m => m.uploadSet.cameraSetup.cameraSerial, new { @class = "camsetup" })<br />
        @Html.Label("Lens Type: ")<br />
        @Html.TextBoxFor(m => m.uploadSet.cameraSetup.lensType, new { @class = "camsetup" })<br />
        @Html.Label("Lens Serial Number: ")<br />
        @Html.TextBoxFor(m => m.uploadSet.cameraSetup.lensSerial, new { @class = "camsetup" })<br />
        @Html.Label("Lens Center Rowpixel: ")<br />
        @Html.TextBoxFor(m => m.uploadSet.cameraSetup.lensX, new { @class = "numericOnly camsetup" })<br />
        @Html.Label("Lens Center Columnpixel: ")<br />
        @Html.TextBoxFor(m => m.uploadSet.cameraSetup.lensY, new { @class = "numericOnly camsetup" })<br />
        @Html.Label("Lens Type Projectionfunction A Parameter: ")<br />
        @Html.TextBoxFor(m => m.uploadSet.cameraSetup.lensA, new { @class = "decimalOnly camsetup" })<br />
        @Html.Label("Lens Type Projectionfunction B Parameter: ")<br />
        @Html.TextBoxFor(m => m.uploadSet.cameraSetup.lensB, new { @class = "decimalOnly camsetup" })<br />
    </fieldset>*@
    <table>
        <tr id="plotTable">
        </tr>
    </table>
    <div id="emptyfields2" class="emptyfields">
        <h3>Please complete all fields.</h3>
    </div>
    <div id="actions" class="row">
        <div class="col-lg-7">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
            </span>
            <button type="submit" class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start upload</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel upload</span>
            </button>
        </div>
        <div class="col-lg-10">
            <div id="wrongfilenames" class="wrongfilenames">
                <h3>Incorrect filenames:
                    <br />
                </h3>
            </div>

        </div>

        <div class="col-lg-5">
            <!-- The global file processing state -->
            <span class="fileupload-process">
                <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width: 0%;" data-dz-uploadprogress></div>
                </div>
            </span>
        </div>
    </div>

    <div class="table table-striped" class="files" id="previews">
        <div id="template" class="file-row">
            <div>
                <span class="preview">
                    <img data-dz-thumbnail /></span>
            </div>
            <div>
                <p class="name" data-dz-name></p>
                <strong class="error text-danger" data-dz-errormessage></strong>
            </div>
            <div>
                <p class="size" data-dz-size></p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width: 0%;" data-dz-uploadprogress></div>
                </div>
            </div>
            <div>
                @*<button class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>*@
                <button data-dz-remove class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
                <button data-dz-remove class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
            </div>
        </div>
    </div>
    <p id="resMessage"></p>

</div>



<script>
    // Get the template HTML and remove it from the doument
    var previewNode = document.querySelector("#template");
    previewNode.id = "";
    var previewTemplate = previewNode.parentNode.innerHTML;
    previewNode.parentNode.removeChild(previewNode);

    var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "SaveUploadedPhoto", // Set the url
        thumbnailWidth: 80,
        thumbnailHeight: 80,
        parallelUploads: 50,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
        uploadMultiple: true,
        acceptedFiles: ".3fr,.ari, .arw,.bay,.crw, .cr2,.cap,.dcs, .dcr, .dng,.drf,.eip, .erf,.fff,.iiq,.k25, .kdc,.mdc, .mef, .mos, .mrw,.nef, .nrw,.obm, .orf,.pef, .ptx, pxn,.r3d, .raf, .raw, .rwl, .rw2, .rwz,.sr2, .srf, .srw,.x3f"
        //params: {
        //    testid: 0
        //}
    });

    $(function () {
        $(".emptyfields").hide();
        $("#wrongfilenames").hide();
        $("header").hide();
        $("footer").hide();
    });

    myDropzone.on("addedfile", function (file) {
        //debugger;
        // Hookup the start button
        //file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file); };
        var re = /^[a-zA-Z]{2}-[a-zA-Z]{3}_[0-9]{8}_[a-zA-Z]{1}[0-9]{2}.[a-zA-Z0-9]{3}$/;

        if ((m = re.exec(file.name)) == null) {
            $("#wrongfilenames").append(files[i].name + "<br/>");
            $("#wrongfilenames").show();
        }
        else {
            var plotname = file.name.substr(16, 1);
            if ($("#plot" + plotname + "table").length == 0) {

                $("#plotTable").append("<td id='plot" + plotname + "table' class='plotTable'><table style='margin: 20px'><tr><th>Plot " + plotname + "</th></tr><tr><td>Slope (0° - 90°):<br/><input class='plotinput decimalOnly' type='text' style='width: 170px' id='plot" + plotname + "slope' /></td></tr><tr><td>Slope Aspect (0° - 360°):<br/><input class='plotinput decimalOnly' type='text' style='width: 170px'  id='plot" + plotname + "slopeAspect' /></td></tr></table></td>");

                var siteID = $("#selectedSite").val();
                $.ajax({
                    type: "GET",
                    url: "/Home/GetPlotData",
                    data: { siteID: siteID, plotname: plotname },
                    contentType: "application/json; charset=utf-8",
                    success: function (data, status) {
                        $("#plot" + plotname + "slope").val(data.slope);
                        $("#plot" + plotname + "slopeAspect").val(data.slopeAspect);
                    }
                });

                function successFunc(data, status) {
                    $("#plot" + plotname + "slope").val(data.slope);
                    $("#plot" + plotname + "slopeAspect").val(data.slopeAspect);
                }                

                $(".decimalOnly").bind('keypress', function (e) {
                    if (e.keyCode == '9' || e.keyCode == '16') {
                        return;
                    }
                    var code;
                    if (e.keyCode) code = e.keyCode;
                    else if (e.which) code = e.which;
                    if (e.which == 46)
                        return false;
                    if (code == 8 || code == 44 || code == 45 || code == 46)
                        return true;
                    if (code < 48 || code > 57)
                        return false;
                });

                //Disable paste
                $(".decimalOnly").bind("paste", function (e) {
                    e.preventDefault();
                });
            }
        }
    });

    // Update the total progress bar
    myDropzone.on("totaluploadprogress", function (progress) {
        document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
    });

    myDropzone.on("sending", function (file) {
        // Show the total progress bar when upload starts
        document.querySelector("#total-progress").style.opacity = "1";
        // And disable the start button
        //file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");

    });

    // Hide the total progress bar when nothing's uploading anymore
    myDropzone.on("queuecomplete", function (progress) {
        document.querySelector("#total-progress").style.opacity = "0";
    });
    myDropzone.on("complete", function (data) {
        //debugger;        
        var res = JSON.parse(data.xhr.responseText).Message;
        $("#resMessage").html(res);
        window.location = "./PictureUploadResult/";
    });

    // Setup the buttons for all transfers
    // The "add files" button doesn't need to be setup because the config
    // `clickable` has already been specified.
    document.querySelector("#actions .start").onclick = function () {  
        var empty = $(".plotinput").filter(function () {
            return $.trim(this.value).length == 0;
        }).length;

        if ($.trim($("#selectedSite").val()) == '' ||
            $.trim($("#uploadSet_person").val()) == '' ||
            //$.trim($("#uploadSet_slope").val()) == '' ||
            //$.trim($("#uploadSet_slopeAspect").val()) == '' ||
            $.trim($("#uploadSet_cameraSetup_cameraType").val()) == '' ||
            $.trim($("#uploadSet_cameraSetup_cameraSerial").val()) == '' ||
            $.trim($("#uploadSet_cameraSetup_lensType").val()) == '' ||
            $.trim($("#uploadSet_cameraSetup_lensSerial").val()) == '' ||
            $.trim($("#uploadSet_cameraSetup_lensX").val()) == '' ||
            $.trim($("#uploadSet_cameraSetup_lensY").val()) == '' ||
            $.trim($("#uploadSet_cameraSetup_lensA").val()) == '' ||
            $.trim($("#uploadSet_cameraSetup_lensB").val()) == '' ||
            empty > 0)
            //alert("Please enter a value for each field");
            $(".emptyfields").show();
        else {
            //debugger;
            var files = myDropzone.getFilesWithStatus(Dropzone.ADDED);
            var filenamesok = true;
            //Check filename            
            var re = /^[a-zA-Z]{2}-[a-zA-Z]{3}_[0-9]{8}_[a-zA-Z]{1}[0-9]{2}.[a-zA-Z0-9]{3}$/;

            for (i = 0; i < files.length; i++) {
                var m;

                if ((m = re.exec(files[i].name)) == null) {
                    filenamesok = false;
                    $("#wrongfilenames").append(files[i].name + "<br/>");
                }
            }
            if (filenamesok) {
                //myDropzone.options.params["siteID"] = $("#selectedSite").val();
                //myDropzone.options.params["person"] = $("#uploadSet_person").val();
                ////myDropzone.options.params["slope"] = $("#uploadSet_slope").val();
                ////myDropzone.options.params["slopeAspect"] = $("#uploadSet_slopeAspect").val();
                //myDropzone.options.params["cameraSetupID"] = $("#uploadSet_cameraSetup_ID").val();
                //myDropzone.options.params["cameraType"] = $("#uploadSet_cameraSetup_cameraType").val();
                //myDropzone.options.params["cameraSerial"] = $("#uploadSet_cameraSetup_cameraSerial").val();
                //myDropzone.options.params["lensType"] = $("#uploadSet_cameraSetup_lensType").val();
                //myDropzone.options.params["lensSerial"] = $("#uploadSet_cameraSetup_lensSerial").val();
                //myDropzone.options.params["lensX"] = $("#uploadSet_cameraSetup_lensX").val();
                //myDropzone.options.params["lensY"] = $("#uploadSet_cameraSetup_lensY").val();
                //myDropzone.options.params["lensA"] = $("#uploadSet_cameraSetup_lensA").val();
                //myDropzone.options.params["lensB"] = $("#uploadSet_cameraSetup_lensB").val();
                //var plots = "";
                //$(".plotTable").each(function () {
                //    var plname = $(this).attr("id").substr(4, 1);
                //    var slope = $("#plot" + plname + "slope").val();
                //    var slopeA = $("#plot" + plname + "slopeAspect").val();

                //    plots += plname + "_" + slope + "_" + slopeA + ";";
                //})
                //myDropzone.options.params["plots"] = plots;

                //myDropzone.enqueueFiles(files);
            }
            else {
                $("#wrongfilenames").show();
            }
        }
    };
    document.querySelector("#actions .cancel").onclick = function () {
        myDropzone.removeAllFiles(true);
    };
    $(".numericOnly").bind('keypress', function (e) {
        if (e.keyCode == '9' || e.keyCode == '16') {
            return;
        }
        var code;
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        if (e.which == 46)
            return false;
        if (code == 8) // || code == 44 || code == 46
            return true;
        if (code < 48 || code > 57)
            return false;
    });

    //Disable paste
    $(".numericOnly").bind("paste", function (e) {
        e.preventDefault();
    });

    $(".numericOnly").bind('mouseenter', function (e) {
        var val = $(this).val();
        if (val != '0') {
            val = val.replace(/[^0-9]+/g, "")
            $(this).val(val);
        }
    });

    $(".decimalOnly").bind('keypress', function (e) {
        if (e.keyCode == '9' || e.keyCode == '16') {
            return;
        }
        var code;
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        if (e.which == 46)
            return false;
        if (code == 8 || code == 44 || code == 45 || code == 46)
            return true;
        if (code < 48 || code > 57)
            return false;
    });

    //Disable paste
    $(".decimalOnly").bind("paste", function (e) {
        e.preventDefault();
    });

    $("#uploadSet_cameraSetup_ID").change(function () {
        if ($("#uploadSet_cameraSetup_ID").val() == "") {
            $("input.camsetup").removeAttr('disabled');
            $("input.camsetup").val("");
        }
        else {
            $("input.camsetup").attr('disabled', 'disabled');
            var id = $("#uploadSet_cameraSetup_ID").val();
            $.ajax({
                type: "GET",
                url: "/Home/GetCameraSetup",
                data: { setupid: id },
                contentType: "application/json; charset=utf-8",
                //dataType: "html",
                //success: successFunc
                success: function (data, status) {
                    $("#uploadSet_cameraSetup_cameraType").val(data.cameraType);
                    $("#uploadSet_cameraSetup_cameraSerial").val(data.cameraSerial);
                    $("#uploadSet_cameraSetup_lensType").val(data.lensType);
                    $("#uploadSet_cameraSetup_lensSerial").val(data.lensSerial);
                    $("#uploadSet_cameraSetup_lensX").val(data.lensX);
                    $("#uploadSet_cameraSetup_lensY").val(data.lensY);
                    $("#uploadSet_cameraSetup_lensA").val(data.lensA);
                    $("#uploadSet_cameraSetup_lensB").val(data.lensB);
                }
            });

            //function successFunc(data, status) {
            //    $("#uploadSet_cameraSetup_cameraType").val(data.cameraType);
            //    $("#uploadSet_cameraSetup_cameraSerial").val(data.cameraSerial);
            //    $("#uploadSet_cameraSetup_lensType").val(data.lensType);
            //    $("#uploadSet_cameraSetup_lensSerial").val(data.lensSerial);
            //    $("#uploadSet_cameraSetup_lensX").val(data.lensX);
            //    $("#uploadSet_cameraSetup_lensY").val(data.lensY);
            //    $("#uploadSet_cameraSetup_lensA").val(data.lensA);
            //    $("#uploadSet_cameraSetup_lensB").val(data.lensB);
            //}


        }
    });
</script>
