@model UploadWebapp.Models.UploadSet

@{
    ViewBag.Title = "PictureUploadResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#toolongdiv").hide();
        $("#resultdiv").hide();
        
        $.ajax({
            type: "GET",
            url: "/Home/GetResultsSet",
            data: {setid: @(Model.ID.ToString())},
            contentType: "application/json; charset=utf-8",
            success: function (data, status) {
                $("#loadingdiv").hide();
                if (data[0].resultsSet.processed) {
                    $("#resultdiv").show();

                    for(i=0;i<data.length;i++)
                    {
                        //LAI
                        $("#resultdiv" + data[i].plotname).append("<h4>LAI: " + data[i].resultsSet.LAI + "</h4>")
                        //datalog
                        $("#resultdiv" + data[i].plotname).append("<h4>Data: </h4>")
                        if(data[i].resultsSet.data != null && data[i].resultsSet.data.indexOf("\n") != -1)
                        {
                            var substring = data[i].resultsSet.data.substr(data[i].resultsSet.data.indexOf("\n"))
                            $("#resultdiv" + data[i].plotname).append("<table class='datatable'><tr> <th style='width:75px;'>Image</th> <th>Ridler Calvard Threshold</th> <th>Lang Xiang Clumping</th><th>LAI with Optimization</th> <th>Edge Detection Threshold</th> <th>Lang Xiang Clumping</th><th>LAI with Optimization</th></tr> <td>" + substring.split(";").join("</td><td>").split("\n").join("</td></tr><tr><td>") + "</td></table>")
                        }
                        else
                            $("#resultdiv" + data[i].plotname).append("<p>No data available.</p>")
                        //logfile
                        if(data[i].resultsSet.resultLog != null){
                            $("#resultdiv" + data[i].plotname).append("<br /><div class='display-label logheading'>+ Result Log </div>")
                            $("#resultdiv" + data[i].plotname).append("<div class='display-field line-breaks logcontent'>" + data[i].resultsSet.resultLog + "</div>")}
                        else{
                            $("#resultdiv" + data[i].plotname).append("<br /><div class='display-label'>Result Log </div>")
                            $("#resultdiv" + data[i].plotname).append("<div class='display-field'>No log available.</div>")}
                    }
                }
            
                else{
                
                    $.ajax({
                        type: "GET",
                        url: "/Home/GetETA",
                        data: {setID: @(Model.ID.ToString())},
                    contentType: "application/json; charset=utf-8",
                    success: function (data, status) {
                        //debugger;
                        if(status == "success")
                            $("#toolongdiv").html("<p>LAI is now being calculated. Calculation will be done at aproximately <b>" + data + "</b>. You can check the result then by refreshing this page or going to the Overview page.</p>")
                        else
                            $("#toolongdiv").html("<p>LAI is now being calculated. This can take a while. You can check the results by refreshing this page or going to the Overview page.</p>")
                        $("#toolongdiv").show();
                    
                    }
                });

                function sucFunc(data, status) {
                    //debugger;
                    if(status == "success")
                        $("#toolongdiv").html("<p>LAI is now being calculated. Calculation will be done at aproximately <b>" + data + "</b>. You can check the result then by refreshing this page or going to the Overview page.</p>")
                    else
                        $("#toolongdiv").html("<p>LAI is now being calculated. This can take a while. You can check the results by refreshing this page or going to the Overview page.</p>")
                    $("#toolongdiv").show();
                    
                }

                
            }
                //alert(data);
                $(".logcontent").hide();
                $(".logheading").click(function () {
                    $(this).next(".logcontent").slideToggle(500);
                });
            }
            //error: errorFunc
        });

        function successFunc(data, status) {
            $("#loadingdiv").hide();
            if (data[0].resultsSet.processed) {
                $("#resultdiv").show();

                for(i=0;i<data.length;i++)
                {
                    //LAI
                    $("#resultdiv" + data[i].plotname).append("<h4>LAI: " + data[i].resultsSet.LAI + "</h4>")
                    //datalog
                    $("#resultdiv" + data[i].plotname).append("<h4>Data: </h4>")
                    if(data[i].resultsSet.data != null && data[i].resultsSet.data.indexOf("\n") != -1)
                    {
                        var substring = data[i].resultsSet.data.substr(data[i].resultsSet.data.indexOf("\n"))
                        $("#resultdiv" + data[i].plotname).append("<table class='datatable'><tr> <th style='width:75px;'>Image</th> <th>Ridler Calvard Threshold</th> <th>Lang Xiang Clumping</th><th>LAI with Optimization</th> <th>Edge Detection Threshold</th> <th>Lang Xiang Clumping</th><th>LAI with Optimization</th></tr> <td>" + substring.split(";").join("</td><td>").split("\n").join("</td></tr><tr><td>") + "</td></table>")
                    }
                    else
                        $("#resultdiv" + data[i].plotname).append("<p>No data available.</p>")
                    //logfile
                    if(data[i].resultsSet.resultLog != null){
                        $("#resultdiv" + data[i].plotname).append("<br /><div class='display-label logheading'>+ Result Log </div>")
                        $("#resultdiv" + data[i].plotname).append("<div class='display-field line-breaks logcontent'>" + data[i].resultsSet.resultLog + "</div>")}
                    else{
                        $("#resultdiv" + data[i].plotname).append("<br /><div class='display-label'>Result Log </div>")
                        $("#resultdiv" + data[i].plotname).append("<div class='display-field'>No log available.</div>")}
                }
            }
            
            else{
                
                $.ajax({
                    type: "GET",
                    url: "/Home/GetETA",
                    data: {setID: @(Model.ID.ToString())},
                    contentType: "application/json; charset=utf-8",
                    success: function (data, status) {
                        //debugger;
                        if(status == "success")
                            $("#toolongdiv").html("<p>LAI is now being calculated. Calculation will be done at aproximately <b>" + data + "</b>. You can check the result then by refreshing this page or going to the Overview page.</p>")
                        else
                            $("#toolongdiv").html("<p>LAI is now being calculated. This can take a while. You can check the results by refreshing this page or going to the Overview page.</p>")
                        $("#toolongdiv").show();
                    
                    }
                });

                //function sucFunc(data, status) {
                //    debugger;
                //    if(status == "success")
                //        $("#toolongdiv").html("<p>LAI is now being calculated. Calculation will be done at aproximately <b>" + data + "</b>. You can check the result then by refreshing this page or going to the Overview page.</p>")
                //    else
                //        $("#toolongdiv").html("<p>LAI is now being calculated. This can take a while. You can check the results by refreshing this page or going to the Overview page.</p>")
                //    $("#toolongdiv").show();
                    
                //}

                
            }
            //alert(data);
            $(".logcontent").hide();
            $(".logheading").click(function () {
                $(this).next(".logcontent").slideToggle(500);
            });
        }

        function errorFunc() {
            alert('error');
        }
    });
</script>

<h1>Upload Succesfull</h1>
<h4>Overview of your submitted data:</h4>
<div class="container" id="container">
    <div class="row">
        <div class="col-md-6 ">
            @if(Model.siteID != 0){
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.siteID)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.siteID)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.siteCode)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.siteCode)
                </div>
            </div>
            }
            else
            {
                <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.siteName)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.siteName)
                </div>
            </div>
            }
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.userID)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.userID)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.person)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.person)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.uploadTime)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.uploadTime)
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.cameraType)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.cameraType)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.cameraSerial)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.cameraSerial)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.lensType)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.lensType)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.lensSerial)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.lensSerial)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.lensX)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.lensX)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.lensY)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.lensY)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.lensA)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.lensA)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.lensB)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.lensB)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.maxRadius)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.maxRadius)
                </div>
            </div>
        </div>
    </div>


    @foreach (var plotSet in Model.plotSets)
    {
        <h1>Plot @(plotSet.plot.name)</h1>
        <div class="row clearfix">
            <div class="col-md-6">
                <table class="ovv" style="width:90%">
                    <thead>
                        <tr>
                            <th>
                                @*@Html.DisplayNameFor(model => model.plotSets[0].images[0].filename)*@
                                Uploaded Pictures
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.plotSets[0].images[0].dngFilename)
                            </th>*@
                        </tr>
                    </thead>

                    @foreach (var item in plotSet.images)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.filename)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.dngFilename)
                            </td>*@
                        </tr>
                    }
                </table>
            </div>
            <div class="col-md-6 ">
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label class="display-label">
                            @Html.DisplayNameFor(model => plotSet.plot.slope)
                        </label>
                    </div>
                    <div class="display-field col-md-8">
                        @Html.DisplayFor(model => plotSet.plot.slope)
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label class="display-label">
                            @Html.DisplayNameFor(model => plotSet.plot.slopeAspect)
                        </label>
                    </div>
                    <div class="display-field col-md-8">
                        @Html.DisplayFor(model => plotSet.plot.slopeAspect)
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label class="display-label">
                            @Html.DisplayNameFor(model => plotSet.resultsSet.processed)
                        </label>
                    </div>
                    <div class="display-field col-md-8">
                        @if (plotSet.resultsSet.processed == true)
                        {<text>Yes</text>}
                        else
                        {<text>No</text>      }
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label class="display-label">
                            @Html.DisplayNameFor(model => plotSet.resultsSet.LAI)
                        </label>
                    </div>
                    <div class="display-field col-md-8">
                        <h5 class="text-highlight">@Html.DisplayFor(model => plotSet.resultsSet.LAI)</h5>
                    </div>
                </div>
            </div>
        </div><br />
        <div class="row clearfix">
            <div class="col-md-12">
            <label class="display-label">
                @*@Html.DisplayNameFor(model => plotSet.resultsSet.data)*@
                Calculation Data:
            </label>
            <div class="display-field">
                @if (plotSet.resultsSet.data != null && plotSet.resultsSet.data.IndexOf("\n") != -1 && plotSet.resultsSet.data.Length > 50)
                {            
                    <table class="datatable ovv">
                        <tr>
                            @*<th style="width: 75px;">Image</th>
                            <th>Ridler Calvard Threshold</th>
                            <th>Lang Xiang Clumping</th>
                            <th>LAI with Optimization</th>
                            <th>Edge Detection Threshold</th>
                            <th>Lang Xiang Clumping</th>
                            <th>LAI with Optimization</th>*@
                            <th>Image</th>
                            <th>LAI</th>
                            <th>Threshold RC</th>  
                            <th>Clumping LX</th>
                        </tr>
                        <tr>
                            <td>
                                @Html.Raw(plotSet.resultsSet.data.Remove(plotSet.resultsSet.data.Length - 1).Substring(plotSet.resultsSet.data.IndexOf("\n") + 1).Replace(",", "</td><td>").Replace("\n", "</td></tr><tr><td>"))

                            </td>
                        </tr>
                    </table>
                }
                else
                {
                    <text>No data available.</text>}
            </div></div>
        </div>
        <br />
            
                if (!string.IsNullOrEmpty(plotSet.resultsSet.resultLog))
                {
        <div class="display-label logheading">
            + @Html.DisplayNameFor(model => plotSet.resultsSet.resultLog)
        </div>
        <div class="display-field line-breaks logcontent">
            @Html.DisplayFor(model => plotSet.resultsSet.resultLog)
        </div>
                }
                else
                {
        <label class="display-label">
            @Html.DisplayNameFor(model => plotSet.resultsSet.resultLog)
        </label>
        <div class="display-field">
            No log available.
        </div>
                }
    }

</fieldset>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
<div id="loadingdiv">
    Calculating LAI now...
    <img src="~/Images/loader.gif" style="width: 30px" />
</div>
<div id="toolongdiv">
    <p>Calculation is taking longer then expected, come back later to check your results.</p>
</div>
@*<div id="resultdiv">
    LAI: <span id="lai"></span><br />
    LAI_SD: <span id="laisd"></span><br />
    Log: <span id="lailog" class="line-breaks"></span>
</div>*@