@model UploadWebapp.Models.UploadSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".logcontent").hide();
        //toggle the componenet with class msg_body
        $(".logheading").click(function () {
            $(this).next(".logcontent").slideToggle(500);
        });
    });
</script>
<h1>Upload Set Details</h1>
<br />
<div class="container" id="container">
    <div class="row">
        <div class="col-md-6 ">
            @if(Model.siteID != 0){
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.siteID)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.siteID)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.siteCode)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.siteCode)
                </div>
            </div>}
            else{
                <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.siteName)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.siteName)
                </div>
            </div>
            }
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.userID)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.userID)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.person)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.person)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.uploadTime)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.uploadTime)
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.name)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.name)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.cameraType)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.cameraType)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.cameraSerial)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.cameraSerial)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.lensType)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.lensType)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.lensSerial)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.lensSerial)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.lensX)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.lensX)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.lensY)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.lensY)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.lensA)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.lensA)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.lensB)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.lensB)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <label class="display-label">
                        @Html.DisplayNameFor(model => model.cameraSetup.maxRadius)
                    </label>
                </div>
                <div class="display-field col-md-8">
                    @Html.DisplayFor(model => model.cameraSetup.maxRadius)
                </div>
            </div>
        </div>
    </div>

    @foreach (var plotSet in Model.plotSets)
    {
        <h1>Plot @(plotSet.plot.name)</h1>
        <div class="row clearfix">
            <div class="col-md-6">
                <table class="ovv" style="width:90%">
                    <thead>
                        <tr>
                            <th>
                                Uploaded Pictures
                            </th>
                        </tr>
                    </thead>

                    @foreach (var item in plotSet.images)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.filename)
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-md-6 ">
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label class="display-label">
                            @Html.DisplayNameFor(model => plotSet.plot.slope)
                        </label>
                    </div>
                    <div class="display-field col-md-8">
                        @Html.DisplayFor(model => plotSet.plot.slope)
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label class="display-label">
                            @Html.DisplayNameFor(model => plotSet.plot.slopeAspect)
                        </label>
                    </div>
                    <div class="display-field col-md-8">
                        @Html.DisplayFor(model => plotSet.plot.slopeAspect)
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label class="display-label">
                            @Html.DisplayNameFor(model => plotSet.resultsSet.processed)
                        </label>
                    </div>
                    <div class="display-field col-md-8">
                        @if (plotSet.resultsSet.processed == true)
                        {<text>Yes</text>}
                        else
                        {<text>No</text>      }
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label class="display-label">
                            @Html.DisplayNameFor(model => plotSet.resultsSet.LAI)
                        </label>
                    </div>
                    <div class="display-field col-md-8">
                        <h5 class="text-highlight">@Html.DisplayFor(model => plotSet.resultsSet.LAI)</h5>
                    </div>
                </div>
            </div>
        </div><br />
        <div class="row clearfix">
            <div class="col-md-12">
            <label class="display-label">
                Calculation Data:
            </label>
            <div class="display-field">
                @if (plotSet.resultsSet.data != null && plotSet.resultsSet.data.IndexOf("\n") != -1 && plotSet.resultsSet.data.Length > 50)
                {            
                    <table class="datatable ovv">
                        <tr>
                            <th>Image</th>
                            <th>LAI</th>
                            <th>LAIe</th>
                            <th>Threshold RC</th>  
                            <th>Clumping LX</th>
                            <th>Overexposure</th>
                        </tr>
                        <tr>
                            <td>
                                @Html.Raw(plotSet.resultsSet.data.Remove(plotSet.resultsSet.data.Length - 1).Substring(plotSet.resultsSet.data.IndexOf("\n") + 1).Replace(",", "</td><td>").Replace("\n", "</td></tr><tr><td>"))

                            </td>
                        </tr>
                    </table>
                }
                else
                {
                    <text>No data available.</text>}
            </div></div>
        </div>
        <br />
            
                if (!string.IsNullOrEmpty(plotSet.resultsSet.resultLog))
                {
        <div class="display-label logheading">
            + @Html.DisplayNameFor(model => plotSet.resultsSet.resultLog)
        </div>
        <div class="display-field line-breaks logcontent">
            @Html.DisplayFor(model => plotSet.resultsSet.resultLog)
        </div>
                }
                else
                {
        <label class="display-label">
            @Html.DisplayNameFor(model => plotSet.resultsSet.resultLog)
        </label>
        <div class="display-field">
            No log available.
        </div>
                }
    }


    <p>
        @Html.ActionLink("Back to List", "Overview")
    </p>
</div>
